node_modules
dist
artifacts
.env
.env.local
.env.*.local
*.log
npm-debug.log*
.DS_Store
*.swp
*.swo
*.tsbuildinfo
.cache
.codegraph
.context
.codebuddy/
pnpm-lock.yaml
pnpm-workspace.yaml

# Tencent Cloud EdgeOne
.env
.edgeone/*
.tef_dist/*
  